//color
:root {
    --color-rosa: #F07C79;
    --color-card-title: #ED6562;
    --color-card-txt: #464646;
    --color-black: #272727;
    --color-card-footer: #F3F3F3;
    --color-d-timeline: linear-gradient(180deg, #272727 0%, #464646 100%);
    --color-d-pink: linear-gradient(180deg, rgba(237, 101, 98, 0.3) 0%, rgba(237, 101, 98, 1) 100%);
    --color-d-grey: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%);
    --color-card-date: #838080;
    --color-gialla: #E2CA40;
    --color-turchese: #28AFB0;
}