.cards {
    position: relative;
    padding-top: 60px;
    padding-bottom: 145px;
    width: 100%;
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 1128px) {
            flex-wrap: wrap;
            justify-content: space-around;
            // align-items: center;
        }
    }
    &_decorator {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.card {
    border-radius: 20px;
    background-color: #FFF;
    padding: 33px 40px;
    @media only screen and (max-width: 1128px) {
        width: calc(50% - 1.38888888889%);
        margin-right: 0;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
        margin-top: 34px;
    }
    &_title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        padding-bottom: 17px;
    }
    &_separator {
        height: 2px;
        width: 100%;
    }
    &_icon {
        height: 234px;
        width: 234px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
        position: relative;
        z-index: 1;
        svg {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        // @media only screen and (max-width: 1024px) {
        //     height: 200px;
        //     width: 200px;
        //     svg {
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         height: 100%;
        //         width: auto;
        //         display: block;
        //         margin: 0 auto;
        //         ;
        //     }
        // }
    }
    &_round {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        &::before {
            mix-blend-mode: light;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            background: white;
            border-radius: 50%;
            opacity: .2;
        }
    }
    &_txt {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
    }
    &_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_cta {
        font-weight: 700;
    }
}