.btn {
    border: none;
    cursor: pointer;
    &_primary {
        background: var(--color-rosa);
        color: white;
        border-radius: 16px;
        padding: 19px 18px 17px 19px;
        text-transform: uppercase;
        &-rosa {
            background: var(--color-rosa);
            color: white;
        }
    }
}