.divider {
    @media only screen and (max-width: 768px) {
        min-height: 256px;
        padding: 0 4.86111111111% 80px 4.86111111111%;
    }
    @media only screen and (max-width: 1024px) {
        padding: 0 4.86111111111% 120px 4.86111111111%;
        min-height: auto;
        margin-top: -1px;
    }
    margin-top: -80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // overflow-x: hidden;
    width: 100%;
    position: relative;
    min-height: 556px;
    padding: 0 4.86111111111% 180px 4.86111111111%;
    &-inverse {
        justify-content: flex-start;
        padding: 180px 4.86111111111% 0 4.86111111111%;
        @media only screen and (max-width: 1024px) {
            padding: 120px 4.86111111111% 0 4.86111111111%;
        }
        @media only screen and (max-width: 768px) {
            padding: 80px 4.86111111111% 0 4.86111111111%;
        }
    }
    &_onda {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        &-inverse {
            top: 0;
            transform: scale(-1);
            #Fill-9 {
                fill: #464646;
            }
            line {
                display: none;
            }
        }
    }
    &_title {
        @media only screen and (max-width: 1200px) {
            width: 100%;
            max-width: 510px;
            font-size: 40px;
            line-height: 60px;
        }
        @media only screen and (max-width: 1024px) {
            width: 100%;
            max-width: 465px;
            padding-bottom: 20px;
            font-size: 32px;
        }
        color: var(--color-rosa);
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        width: 60.625%;
        max-width: 873px;
        padding-bottom: 40px;
        text-align: right;
        &-inverse {
            text-align: left;
            padding-top: 40px;
            padding-bottom: 0px;
        }
    }
}