.header {
    display: flex;
    align-items: center;
    transition: all .25s;
    height: var(--height-header);
    margin-top: calc(-1 * var(--height-header));
    z-index: 5;
    position: sticky;
    top: 0px;
    background: var(--color-black);
    opacity: .8;
    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
    }
}

.menu {
    &Ul {
        display: flex;
        &_li {
            list-style: none;
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
        &_a {
            transition: all .25s;
            text-decoration: none;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
            &-active {
                color: var(--color-pink);
            }
        }
    }
}

.logo {
    height: var(--height-logo);
    width: auto;
}