.timeline {
    // margin-top: 112px;
    // margin-bottom: 5px;
    // position: relative;
    // &_body {
    padding-top: 91px;
    padding-bottom: 91px;
    background: var(--color-d-timeline);
    // }
    // &_before {
    //     height: auto;
    //     width: 100%;
    //     position: absolute;
    //     top: 380px;
    //     left: 0;
    //     transform: translateY(-100%);
    // }
    // &_after {
    //     height: auto;
    //     width: 100%;
    //     position: absolute;
    //     transform: scale(-1);
    //     bottom: 0%;
    //     left: 0;
    // }
}