.footer {
    background: var(--color-black);
    padding-top: 80px;
    padding-bottom: 65px;
    &_left {
        @media only screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &_right {
        @media only screen and (max-width: 1024px) {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &_credit {
        margin-top: 25px;
        font-weight: 500;
        font-size: 14px;
        color: white;
    }
    &_links {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 768px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    &_li {
        @media only screen and (max-width: 768px) {
            padding: 1ch 0;
        }
        &::after {
            display: inline-block;
            content: "|";
            color: white;
            padding: 0 1ch;
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
        &:last-child::after {
            display: none;
        }
    }
    &_a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
    }
    &_title {
        color: white;
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 16px;
        text-transform: uppercase;
    }
    &_rss {
        display: flex;
    }
    &_rssLi {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    &_rssA {
        display: block;
    }
}