.carousel {
    position: relative;
    .control-dots {
        @media only screen and (max-width: 768px) {
            display: none;
        }
        margin: 0;
        top: calc(40px + var(--height-header));
        left: 0;
        position: absolute;
        width: auto;
        bottom: unset;
    }
    .control-dot {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            height: 100%;
            width: 100%;
            background: none;
            box-shadow: none;
            border: none;
            background: var(--color-rosa);
            color: white;
            cursor: pointer;
            opacity: 50%;
            &:disabled,
            &[disabled] {
                opacity: 100%;
            }
        }
    }
}

.arrow {
    padding: 0;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    &_prev {
        left: 90px;
        transform: translate(50%, -50%);
        @media only screen and (max-width: 768px) {
            left: 5px;
        }
    }
    &_next {
        right: 90px;
        transform: translate(-50%, -50%);
        @media only screen and (max-width: 768px) {
            right: 5px;
        }
    }
}

.slide {
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 818px;
    @media only screen and (max-width: 768px) {
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &_title {}
    &_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    &_wrapper {
        @media only screen and (max-width: 768px) {
            margin-Left: 0;
            padding: 0 65px;
            width: 100%;
            max-width: 100%;
            height: 100%;
            justify-content: center;
        }
        text-align: left;
        padding-top: calc(var(--height-header) + 55px);
        padding-bottom: 77px;
        margin-Left: 173px;
        max-width: 547px;
    }
    &_txt {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}